


body { 
   background: rgb(20, 56, 73);
   color: #33444A;
   font-family: 'Work Sans', sans-serif;
   
}

.header { 
   width: 90%;
   margin: auto;
   padding-top: 5rem;
   margin-bottom: 1rem;
}

.navbar-nav {
   padding-left: 6rem;
}

.navbar-text{
   padding-right: 8rem;
}
        
.gallery {
   padding: 1rem;
}

.art-object {
   height: 180px;
   width: 190px;
   margin: 2rem;
   border: 0.2rem solid rgb(23, 59, 100);
   border-radius: 20%;
}

.h1 {
   text-align: left
}

.h2{
   text-align: left;
}

.jumbotron.jumbotron-fluid {
   width: 90%;
   margin: auto;
   background: lightgrey; 
   border-radius: 2%;
}

